nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: monospace;
    background-color: #313131;
    color: #d8d8d8;
    font-family: monospace;
    text-decoration: none;
    
}

nav a {
    color: #ffffff;
    text-decoration: none;
}