nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding: 10px;
    font-family: monospace;
    background-color: #000000;
    color: #d8d8d8;
    font-family: monospace;    
}

nav a {
    color: #ffffff;
    text-decoration: none;
}